path/to/your/large/file filter=lfs diff=lfs merge=lfs -text
D:/Project/Face[[:space:]]Recognition[[:space:]]Attendance[[:space:]]System[[:space:]]main/TrainingImageLabel filter=lfs diff=lfs merge=lfs -text
D:/Project/Face[[:space:]]Recognition[[:space:]]Attendance[[:space:]]System[[:space:]]main/TrainingImageLabel/Trainner.yml filter=lfs diff=lfs merge=lfs -text
